  main
  {
    background-size: 100% 100%;
    height: 525px;
    background-image: linear-gradient( rgba(0,0,0,.25), rgba(0,0,0,.25) ), url(C:/Users/bmare/OneDrive/Desktop/Miron/code/KoliCompass/frontend/assets/dormdrawing.jpg);
    object-fit: cover;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    width: 100%;
  }

  .header-container
  {
    padding: 20px 20px 25px 20px;
   
  }

  .main-container
  {
    margin: auto;
    width: 50%;
    padding: 250px 0px 0px 0px;
    text-align: center;
    font-family: 'Varela Round';
  }

  #search-bar
  {
    width: 600px;
    height: 50px;
    border-radius: 60px;
    border:none;
    text-indent: 20px;
    
  }

  #egyetem-search-text
  {
    font-family: 'Varela Round';
    color: white;
  }

  #name1, #name2
  { 
    font-family: 'Varela Round';
    font-weight: bold;
    display:inline;
  }

  #name2
  {
    color: #FF0000;
  }

  ::placeholder
  {
    color:#787878; /* #FFFFFF#787878 */
  }

  #login-button
  {
    background-color: #FF7F50; /* #66ffcc */
    background-image: none;
    border-radius: 25px;
    border-width: 0;
    bottom: auto;
    box-sizing: border-box;
    color: #253858;
    cursor: pointer;
    display: block;
    flex: 1;
    float: right;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    left: auto;
    letter-spacing: 1px;
    line-height: 19px;
    margin-left: -15px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: background-color 150ms;
    z-index: 30;
  }

  #login-button:active
  {
    outline: 0;
  }

  #login-button:hover
  {
    background-color: #D2691E; /*#2ac28f*/
    font-weight: 400;
    outline: 0;
  }

  #login-div
  {
    background-color: #FFFFFF;
    height: 520px;
    position: fixed;
    z-index: 30;
    width: 520px;
    margin-top: -320px;
    border-radius: 25px;
    margin-left: 55px;
  }

  #close-button
  {
    margin-left: 450px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-right: -2px;
  }

  #email-bar
  {
    height: 40px;
    width: 400px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 50px;
  }

  #send-email-button
  {
    margin-top: 10px;
    height: 40px;
    width: 421px;
    background-color: #FF7F50;
    background-image: none;
    border-radius: 25px;
    border-width: 0;

  }

  #send-email-button:active
  {
    outline: 0;
  }

  #send-email-button:hover
  {
    background-color: #D2691E; /*#2ac28f*/
    outline: 0;
  }

  

